@import url('https://fonts.googleapis.com/css2?family=Play&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    background-image: url(../image/circle-blues.webp);
}

/* logo style */

h1 ,h2 {
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #c44b4b;
}


#logo {
    float: left;
    font-size: 190%;
    margin-left: 20px;
}

/* Nav Links */

#menu {
    font-size: 140%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 70px;
}

#menu a {
    text-decoration: none;
    color: #c44b4b;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}



/* hero img */

#hero-img {
    background-image: url(../image/Main-Img.jpg);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;

}

/* about text */

#about-text {
    margin-top: 40px;
    margin-bottom: 1100px;
    width: 100%;
}

/* right, left */

#left-text {
    border: 3px solid black;
    padding-top: 30px;
    width: 70%;
    height: 500px;
    background-image: url(../image/5-dots.webp);
}

#right-img {
    border: 3px solid black;
    float: right;
    margin-right: 40px;
    background-image: url(../image/Loading\ Screen.jpg);
    background-repeat: no-repeat;
    width: 30%;
    height: 450px;
}

.article-head {
    font-size: 140%;
    color: #c44b4b;
    letter-spacing: 2px;
    border: 5px solid rgb(0, 0, 0);
}