@import url('https://fonts.googleapis.com/css2?family=Play&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo style */

h1 ,h2 {
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #000080;
}

#logo {
    float: left;
    font-size: 190%;
}