@import url('https://fonts.googleapis.com/css2?family=Play&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    background-image: url(../image/circle-blues.webp);
}

header {
    width: 100%;
    padding-top: 15px;
    height: auto;
}
header a {
    text-decoration: none;
}

.content {
    margin: 0 15px;
}

/* logo style */

h1 ,h2 {
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #639673;
}


#logo {
    width: 100%;
    font-size: 190%;
    margin-left: 20px;
    border-bottom: 6px dotted #085012;
    padding-bottom: 10px;
}

/* Nav Links */

#menu {
    font-size: 105%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 60px;
}

#menu-img {
    font-size: 200%;
    background-image: url(../image/dark-paths.webp);
    text-align: center;
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 5px;
    border-bottom: 6PX #ffffff solid ;
}

#text-main {
    color: #ffffff;
}

#piller {
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
}

.piller-p {
    font-size: 200%;
    border-bottom: 6PX #085012 solid ;
}


#menu ul {
    padding-top: 10px;
    background-image: url(../image/dark-paths.webp);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%

}

#menu li {
    list-style-type: none;
}

#menu p {
    font-size: 90%;
    text-decoration: none;
    color: #b69292;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
}

.active {
    position: static;
}

#menu a:hover {
    border-bottom: 3px solid #000000;
}



/* hero img */

#hero-img {
    background-image: url(../image/halo-reach.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#hero-out {
    height: 900px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
    border-top: 4px dotted #ffffff;
}

/* about text */

#about-text {
    margin-top: 40px;
    width: 100%;
}

#about-halo {
    font-size: 190%;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 6px dotted #08701f;
    
    
}

/* right, left */

#left-text {
    border: 3px solid black;
    width: 100%;
    overflow: hidden;
    background-image: url(../image/dark-paths.webp);
    border-bottom: 5px black rgb(0, 0, 0);
}

#left-p {
    margin-top: 50px;
    font-size: 200%;
    text-decoration: none;
    color: #ffffff;
}
#left-p-2 {
    left: auto;
    margin-top: 250px;
    font-size: 200%;
    text-decoration: none;
    color: #ffffff;
}

#right-p {
    margin-top: 150px;
    margin-right: 40px;
    font-size: 200%;
    text-decoration: none;
    color: rgb(255, 102, 0);
}

#right-p-2 {
    margin-top: 100px;
    margin-right: 40px;
    font-size: 200%;
    text-decoration: none;
    color: rgb(255, 102, 0);
}

#right-img {
    background-image: url(../image/5-dots.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    border: 3px solid rgb(34, 65, 20);
    overflow: hidden;  
    background-position: center;
    background-size: 100% 100%;
}

#load-img {
    float: right;
    background-image: url(../image/halo-reach-master.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
    
    background-position: center;
    background-size: 100% 100%;
}

.load-p {
    float: left;
    text-align: center;
    color: #285716;
    font-size: 300%;
}

.article-head {
    font-size: 140%;
    color: #e0dada;
    letter-spacing: 2px;
    
}


#sec-2 {
    float: left;
    font-size: 250%;
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    background-image: url(../image/dark-paths.webp);
    text-align: center;
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 30px;
    border-bottom: 6PX #ffffff solid ;
}

/* Youtube video */

#youtube {
    margin-top: 120px;
}

#walk-video {
    font-size: 190%;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 6px dotted #08701f;
    
    
}

#video {
    float: right;
    width: 50%;
    height: 95%;
    margin-top: 10px;
    background-position: center;
    border: 4px solid rgb(119, 27, 27);
}

#sec-3 {
    float: left;
    font-size: 250%;
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    background-image: url(../image/dark-paths.webp);
    text-align: center;
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 30px;
    border-bottom: 6PX #ffffff solid ;
}

#main-video {
    width: 100%;
    height: 600px;
    margin-left: 15px;
    margin-top: 130px;
    background-image: url(../image/dark-paths.webp);
}

.video-p {
    float: left;
    font-size: 200%;
    width: 45%;
    height: 600px;
    
    background-image: url(../image/5-dots.webp);
}

#walk-h {
    text-align: center;
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: #ff0000;
    border-bottom: 2px dotted rgb(255, 255, 255);
}

.video-2 {
    float: left;
    margin: 20px;
    font-family: Play, sans-serif;
    letter-spacing: 3px;
    color: rgb(90, 158, 179);
}

/* footer */

footer {
    height: 280px;
    border: 4px solid white;
    margin-top: 40px;
    margin-left: 15px;
    width: 100%;
    background-image: url(../image/dark-paths.webp);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

@media screen and (max-width: 1200px) 
{
    #about-text {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #about-halo {
        padding: 30px 0;
        margin: 0;
    }

    #left-text {
        width: 100%;
        float: left;
        padding: 0;
    }

    #sec-2 {
        clear: both;
        width: 100%;
        padding: 0;
    }

    hr {
        display: none;
    }
} 
